
<h1 class="mb-4">Welcome to Angular</h1>


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">

            <button  class="btn btn-primary mb-2"
            (click)="onToggle()">Toggle Box</button>
            <div *ngIf="showbox" class="box mt-4"><span>Hello!!!!</span><br>
                <br>
                plz click on Toggle Box to hide me...
            </div>
           
            <ul class="list-group mb-4">
                <li class="list-group-item"
                *ngFor = "let s of skills">I Love {{s}}</li>
            </ul>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Roll No.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let student of student; index as i">
                        <td> {{i+1}}</td>
                        <td>{{student.fname}}</td>
                        <td>{{student.lname}}</td>
                        <td>{{student.roll_no}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Profession</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let p of person; index as i">
                        <td> {{i+1}}</td>
                        <td>{{p.fname}}</td>
                        <td>{{p.lname}}</td>
                        <td>{{p.proff}}</td>
                        <td>{{p.country}}</td>
                    </tr>
                </tbody>
            </table>
            <app-products></app-products>
        </div>
    </div>
</div>