body{
    // background-image: url("https://plus.unsplash.com/premium_photo-1687726346756-4fb29bfc5797?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: fixed;
    background-color: aqua;
    position: relative;

}
h1{
    
    padding:10px;
    background-color: blue;
    font-style: italic;
    font-weight: 900;
    border-radius: 10px 5px;
    border: 10px double white;
    text-align: center;
    color: antiquewhite;

}
.box{
    
    height:200px;
    width:200px;
    border:2px solid black;
    background-color: aqua;  
}
ul li{
    background-color: yellowgreen;
}
ul :nth-child(2n){
    background-color: hotpink;

}
.table{
    background-color: aqua;
    border:2px solid red;

}
 td{
    border:2px solid blue;
}
.table-bordered{
    border:3px double brown;
}
.table thead{
    background-color: black;
    color:goldenrod
}