body{
   
    position: relative;

}
h1{
    
    padding:10px;
    background-color: blue;
    font-style: italic;
    font-weight: 900;
    border-radius: 10px 5px;
    border: 10px double white;
    text-align: center;
    color: antiquewhite;

}
.box{
    padding:10px;
    margin-bottom: 10px;
    height:200px;
    width:200px;
    text-align: center;
    font-weight: 600;
    border:2px solid black;
    background-color: aqua;  
}
span{
    color:darkblue;
    font-style: italic;
    font-weight: 800;
}
ul li{
    background-color: yellowgreen;
}
ul :nth-child(2n){
    background-color: hotpink;

}
.table{
    background-color: aqua;
    border:2px solid red;

}
 td{
    border:2px solid blue;
}
.table-bordered{
    border:3px double brown;
}
.table thead{
    background-color: black;
    color:goldenrod
}