/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://plus.unsplash.com/premium_photo-1669686968068-ef4133a3e782?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1450&q=80');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}